.cart {
  padding: 5%;
  box-shadow: 0 2px 5px white;
  border-radius: 20%;
  display: inline-flex;
}
.cartButton {
  padding: 1%;
  margin: 0%;
  border-radius: 10%;
  box-shadow: 0 2px 5px white;
  background-color: #b6c8bc;
  display: flex;
  justify-content: space-around;
  width: 11%;
  align-items: center;
}
.cartButton:hover {
  background-color: #817e7e98;
}
.items {
  width: 20%;
  height: 1%;
  border-radius: 44%;
  padding: 5%;
  display: inline-flex;
  box-shadow: 0 2px 5px white;
  justify-content: center;
}
