.menuList {
  background-color: #c1bcbc;
  width: 60%;
  left: 20%;
  top: 75%;
  position: absolute;
  border-radius: 1%;
  box-shadow: 0 2px 20px #5ab92594;
  display: grid;
  grid-row-gap: 1rem;
}
.Name {
  font-weight: bold;
  font-size: 110%;
}
.Special {
  font-size: 100%;
  font-style: italic;
}
.Price {
  font-weight: bold;
  font-size: 110%;
  color: red;
}
.item {
  background-color: #5c585824;
  padding: 0 3%;
  display: flex;
}
.mealsDetails {
  flex: auto;
}
form {
    display: grid;
    grid-template-columns: 8rem 4rem;
    grid-template-rows: 2rem 2rem;
    grid-row-gap: 1rem;
}
.addBtn{
    background-color: #a71010;
    justify-self: end;
}