.menuList {
  background-color: #c1bcbc;
  width: 60%;
  left: 20%;
  position: absolute;
  border-radius: 1%;
  box-shadow: 0 2px 20px #5ab92594;
}
.Name {
  font-weight: bold;
  font-size: 110%;
}
.Special {
  font-size: 100%;
  font-style: italic;
}
.Price {
  font-weight: bold;
  font-size: 110%;
  color: red;
}
.item {
  background-color: #5c585824;
  padding: 0 3%;
}
